.order {
  background-color: rgb(126, 22, 22);
  text-align: center;
  padding: 20px;
}
.now {
  background-color: red;
  padding: 15px 15px;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5%;
}
.choose {
  color: white;
  margin-left: 20%;
}
.to {
  background-color: red;
  padding: 10px;
  width: 9%;
  height: 60px;
  margin-left: 10%;
  border: red;
  border-radius: 5%;
}
.be {
  color: rgb(126, 22, 22);
  font-size: 5rem;
  margin-left: 10%;
  margin-top: 5%;
}
.destroyed {
  color: rgb(126, 22, 22);
  font-size: 5rem;
  margin-left: 10%;
}
.des {
  color: red;
  font-size: 5rem;
}
.burger {
  margin-left: 55%;
  top: 50%;
  width: 30%;
}
.cor {
  background-color: red;
}
.se {
  margin-right: 200px;
}

.home-text {
  max-width: 45%;
}
.home-text h1 {
  font-size: 4rem;
  color: rgb(126, 22, 22);
  font-weight: 700;
}
.home-text h1 span {
  color: red;
}
.home-text button {
  background-color: red;
  padding: 20px 20px;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
}
.fries {
  background-color: red;
  display: flex;
  justify-content: center;
  padding-block: 20px;
}
.free_fries {
  background-color: white;
  border-radius: 20px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free_text h2 {
  font-weight: 700;
  font-size: 2rem;
}
.free_text p {
  font-weight: 500;
  font-size: 1rem;
}
.free_text button {
  background-color: red;
  padding: 20px 20px;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  /* width: 100px; */
  font-size: 18px;
  font-weight: 600;
}

.body-img {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.free{
   border-radius:7%;
   padding:20px;
}
.mar{
  width: 20%;

}
.ma{
  width: 20%;
   margin-right: 9%;
   
}
.ar{
  width: 20%;
  margin-left: 9%;
}
.body-img button{
  background-color: white;
  padding: 15px 20px;
  border: black;
  color: black;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
}
.secord{
  width: 30%; 
}
.secord-img{
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.se{
  margin-right: 3%;
  width: 30%; 
}
.cord{
  margin-left: 3%;
  width: 20%; 
}
.secord-img button{
   background-color: white;
  padding: 15px 20px;
  color: black;
  border: black;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;

}
.spun{
  background-color: brown;
  color: white;


}
.img{
  margin-left: 40%;
  max-width: 80%;
  display: flex;
  margin: auto;
  padding: 20px;
  border-radius: 5%;
}
.text{
  font-weight: 700;
  font-size: 40px;
  margin-left: 10%;
}
.text2{
  font-weight: 500;
  font-size: 1rem;
   margin-left: 10%;
}
.text3{
  margin-top: 5%;
}
